.subject-card{
    background-color: rgb(133, 182, 255);
}

.subject-title{
    text-align: center;
    background-color: #1976d2;
    color: white;
}

.students{
    margin-left: center;
}

.center{
    text-align: right;
}

.button{
    cursor: pointer;
    margin-left: 20px;
    border-radius: 12px;
    font-size: 12px;
    background-color: #d21938;
    color: white;

}